@model TabletopTracker.Models.Publisher.PublisherCreate

@{
    ViewBag.Title = "Create Publisher";
}

<div class="cover">
    <h1 class="cover-header">@ViewBag.Title</h1>
    <p class="subheader">Add a publisher to your collection.</p>
    <br />
    <p>@Html.ActionLink("Back to Your Publishers", "Index", null, new { @class = "btn btn-primary" })</p>
</div>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Website, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Website, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Website, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-success" />
            </div>
        </div>
    </div>
}

@*<div>
    @Html.ActionLink("Back to List", "Index")
</div>*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<style>
    .cover {
        padding: 25px 0;
        text-align: center;
        margin: auto;
    }

    .cover-header {
        font-size: 48px;
        font-family: 'Frutiger LT Std';
    }

    .subheader {
        font-size: 16px;
        font-family: 'Frutiger LT Std';
        font-weight: bold;
    }
</style>