@model TabletopTracker.Models.Publisher.PublisherDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PublisherDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        @Html.HiddenFor(model => model.PublisherId)
        
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Website)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Website)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PublisherId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
