@model TabletopTracker.Models.Session.SessionCreate

@{
    ViewBag.Title = "Create Session";
}

<div class="cover">
    <h1 class="cover-header">@ViewBag.Title</h1>
    <p class="subheader">Record your latest game session.</p>
    <p>@Html.ActionLink("Back to Your Sessions", "Index", null, new { @class = "btn btn-primary" })</p>
</div>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <hr />
    <div class="container">
        <div class="row justify-content-center">
            <div class="mx-auto" style="width: 400px;">
                <form>
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="mb-3">
                        @Html.LabelFor(model => model.GameId, htmlAttributes: new { @class = "control-label" })
                        @Html.DropDownListFor(m => Model.GameId, ViewBag.Games as IEnumerable<SelectListItem>, "Select Game", htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.GameId, "", new { @class = "text-danger" })
                    </div>
                    <div class="mb-3">
                        @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
                    </div>
                    <div class="mb-3">
                        @Html.LabelFor(model => model.Players, htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.EditorFor(model => model.Players, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Players, "", new { @class = "text-danger" })
                    </div>
                    <div class="mb-3">
                        @Html.LabelFor(model => model.Notes, htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.EditorFor(model => model.Notes, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Notes, "", new { @class = "text-danger" })
                    </div>
                    <div class="text-center mb-5">
                        <button type="submit" class="btn btn-success">Create</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<style>
    .cover {
        padding: 25px 0;
        text-align: center;
        margin: auto;
    }

    .cover-header {
        font-size: 48px;
        font-family: 'Frutiger LT Std';
    }

    .subheader {
        font-size: 16px;
        font-family: 'Frutiger LT Std';
        font-weight: bold;
    }
</style>