@model TabletopTracker.Models.Session.SessionDetail

@{
    ViewBag.Title = "Delete Session";
}

<div class="cover">
    <h1 class="cover-header">@ViewBag.Title</h1>
    <p class="subheader">Delete a game session from your collection.</p>
    <p>@Html.ActionLink("Back to Your Sessions", "Index", null, new { @class = "btn btn-primary" })</p>
</div>

<div class="col-md-6 mb-3 mx-auto">
    <div class="card text-center shadow-sm">
        <div class="card-header">
            <b>Session ID:</b> @Html.DisplayFor(model => model.SessionId)
        </div>
        <div class="card-body">
            <h3 class="card-title mb-3">
                @Html.DisplayFor(model => model.Game)
            </h3>
            <p class="card-text"><b>@Html.DisplayNameFor(model => model.Date):</b> @Html.DisplayFor(model => model.Date)</p>
            <p class="card-text"><b>@Html.DisplayNameFor(model => model.Players):</b> @Html.DisplayFor(model => model.Players)</p>
            <p class="card-text"><b>@Html.DisplayNameFor(model => model.Notes):</b> @Html.DisplayFor(model => model.Notes)</p>
            <p class="card-text">Are you sure you want to delete this session from your collection?</p>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color text-center">
                    <input type="submit" value="Delete" class="btn btn-danger" />
                </div>
            }
        </div>
    </div>
</div>

<style>
    .cover {
        padding: 25px 0;
        text-align: center;
        margin: auto;
    }

    .cover-header {
        font-size: 48px;
        font-weight: bold;
    }

    .subheader {
        font-size: 18px;
        font-weight: bold;
    }
</style>
