@model TabletopTracker.Models.Session.SessionDetail

@{
    ViewBag.Title = "Delete Session";
}

<div class="cover">
    <h1 class="cover-header">@ViewBag.Title</h1>
    <p class="subheader">Delete a game session from your collection.</p>
    <p>@Html.ActionLink("Back to Your Sessions", "Index", null, new { @class = "btn btn-primary" })</p>
</div>

<div>
    <hr />
    <dl class="dl-horizontal">
        @Html.HiddenFor(model => model.SessionId)
        
        <dt>
            @Html.DisplayNameFor(model => model.GameId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GameId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Players)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Players)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Notes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color text-center">
            <input type="submit" value="Delete" class="btn btn-danger" />
            @*@Html.ActionLink("Back to List", "Index")*@
        </div>
    }
</div>

<style>
    .cover {
        padding: 25px 0;
        text-align: center;
        margin: auto;
    }

    .cover-header {
        font-size: 48px;
        font-family: 'Frutiger LT Std';
    }

    .subheader {
        font-size: 16px;
        font-family: 'Frutiger LT Std';
        font-weight: bold;
    }
</style>
