@model TabletopTracker.Models.Session.SessionDetail

@{
    ViewBag.Title = "Session Details";
}

<div class="cover">
    <h1 class="cover-header">@ViewBag.Title</h1>
    <p class="subheader">View the details of your game session.</p>
    <p>@Html.ActionLink("Back to Your Sessions", "Index", null, new { @class = "btn btn-primary" })</p>
</div>

<div>
    <hr />
    <dl class="dl-horizontal">
        @Html.HiddenFor(model => model.SessionId)
        
        <dt>
            @Html.DisplayNameFor(model => model.Game)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Game)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Players)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Players)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Notes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>

    </dl>
</div>
<p class="text-center">
    @Html.ActionLink("Edit Session", "Edit", new { id = Model.SessionId }, new { @class = "btn btn-warning " })
    @*@Html.ActionLink("Back to List", "Index")*@
</p>

<style>
    .cover {
        padding: 25px 0;
        text-align: center;
        margin: auto;
    }

    .cover-header {
        font-size: 48px;
        font-family: 'Frutiger LT Std';
    }

    .subheader {
        font-size: 16px;
        font-family: 'Frutiger LT Std';
        font-weight: bold;
    }
</style>