@model IEnumerable<TabletopTracker.Models.Session.SessionListItem>

@{
    ViewBag.Title = "Sessions";
}

<div class="cover">
    <h1 class="cover-header">@ViewBag.Title</h1>
    <p class="subheader">Document your favorite game nights.</p>
    <p>@Html.ActionLink("Add a Session", "Create", null, new { @class = "btn btn-success " })</p>
</div>

@if (TempData.ContainsKey("SaveResult"))
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @ViewBag.SaveResult
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
        </button>
        @TempData["SaveResult"]
    </div>
}

<div class="row row-cols-1 row-cols-md-3">
    @foreach (var item in Model)
    {
        <div class="col-md mb-3">
            <div class="card h-100 text-center shadow-sm">
                <div class="card-header">
                    <b>Date:</b> @Html.DisplayFor(modelItem => item.Date)
                </div>
                <div class="card-body">
                    <h3 class="card-title mb-3">
                        @Html.DisplayFor(modelItem => item.Game)
                    </h3>
                    <p class="card-text"><b>Players:</b> @Html.DisplayFor(modelItem => item.Players)</p>
                    <p class="card-text"><b>Notes:</b> @Html.DisplayFor(modelItem => item.Notes)</p>
                    <div class="row justify-content-center">
                        <p class="col">@Html.ActionLink("Edit", "Edit", new { id = item.SessionId }, new { @class = "btn btn-warning " })</p>
                        <p class="col-md-auto">@Html.ActionLink("Details", "Details", new { id = item.SessionId }, new { @class = "btn btn-primary " })</p>
                        <p class="col">@Html.ActionLink("Delete", "Delete", new { id = item.SessionId }, new { @class = "btn btn-danger " })</p>

                    </div>
                </div>
            </div>
        </div>
    }
</div>

<style>
    .cover {
        padding: 25px 0;
        text-align: center;
        margin: auto;
    }

    .cover-header {
        font-size: 48px;
        font-weight: bold;
    }

    .subheader {
        font-size: 18px;
        font-weight: bold;
    }
</style>