@model TabletopTracker.Models.Game.GameDetail

@{
    ViewBag.Title = "Game Details";
}

<div class="cover">
    <h1 class="cover-header">@ViewBag.Title</h1>
    <p class="subheader">View the details of a game in your collection.</p>
    <p>@Html.ActionLink("Back to Your Collection", "Index", null, new { @class = "btn btn-primary" })</p>
</div>

<div>
    <hr />
    <dl class="dl-horizontal">
        @Html.HiddenFor(model => model.GameId)

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CategoryId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoryId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PublisherId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PublisherId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MinPlayers)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MinPlayers)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaxPlayers)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaxPlayers)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HavePlayed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HavePlayed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rating)
        </dd>

    </dl>
</div>
<p class="text-center">
    @Html.ActionLink("Edit Game", "Edit", new { id = Model.GameId }, new { @class = "btn btn-warning " })
    @*@Html.ActionLink("Back to List", "Index")*@
</p>

<style>
    .cover {
        padding: 25px 0;
        text-align: center;
        margin: auto;
    }

    .cover-header {
        font-size: 48px;
        font-family: 'Frutiger LT Std';
    }

    .subheader {
        font-size: 16px;
        font-family: 'Frutiger LT Std';
        font-weight: bold;
    }
</style>