@model TabletopTracker.Models.Game.GameDetail

@{
    ViewBag.Title = "Game Details";
}

<div class="cover">
    <h1 class="cover-header">@ViewBag.Title</h1>
    <p class="subheader">View the details of a game in your collection.</p>
    <p>@Html.ActionLink("Back to Your Collection", "Index", null, new { @class = "btn btn-primary" })</p>
</div>

<div class="col-md-6 mb-3 mx-auto">
    <div class="card text-center shadow-sm">
        <div class="card-header">
            <b>Game ID:</b> @Html.DisplayFor(model => model.GameId)
        </div>
        <div class="card-body">
            <h3 class="card-title mb-3">
                @Html.DisplayFor(model => model.Title)
            </h3>
            <p class="card-text"><b>@Html.DisplayNameFor(model => model.Publisher):</b> @Html.DisplayFor(model => model.Publisher)</p>
            <p class="card-text"><b>@Html.DisplayNameFor(model => model.Category):</b> @Html.DisplayFor(model => model.Category)</p>
            <p class="card-text"><b>@Html.DisplayNameFor(model => model.MinPlayers):</b> @Html.DisplayFor(model => model.MinPlayers)</p>
            <p class="card-text"><b>@Html.DisplayNameFor(model => model.MaxPlayers):</b> @Html.DisplayFor(model => model.MaxPlayers)</p>
            <p class="card-text"><b>@Html.DisplayNameFor(model => model.HavePlayed)?</b> @Html.DisplayFor(model => model.HavePlayed)</p>
            <p class="card-text"><b>@Html.DisplayNameFor(model => model.Rating):</b> @Html.DisplayFor(model => model.Rating)</p>
            <div class="row justify-content-center">
                <p>@Html.ActionLink("Edit Game", "Edit", new { id = Model.GameId }, new { @class = "btn btn-warning " })</p>
            </div>
        </div>
    </div>
</div>

<style>
    .cover {
        padding: 25px 0;
        text-align: center;
        margin: auto;
    }

    .cover-header {
        font-size: 48px;
        font-weight: bold;
    }

    .subheader {
        font-size: 18px;
        font-weight: bold;
    }
</style>