@model IEnumerable<TabletopTracker.Models.Game.GameListItem>

@{
    ViewBag.Title = "Games";
}

<div class="cover">
    <h1 class="cover-header">@ViewBag.Title</h1>
    <p class="subheader">Manage your collection of games.</p>
    <p>@Html.ActionLink("Add a Game", "Create", null, new { @class = "btn btn-success "})</p>
</div>

@if (TempData.ContainsKey("SaveResult"))
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @ViewBag.SaveResult
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
        </button>
        @TempData["SaveResult"]
    </div>
}

<div class="row row-cols-1 row-cols-md-3">
    @foreach (var item in Model)
    {
        <div class="col-md mb-3">
            <div class="card h-100 text-center shadow-sm">
                <div class="card-body">
                    <h3 class="card-title mb-3">
                        @Html.DisplayFor(modelItem => item.Title)
                    </h3>
                    <h6 class="card-subtitle mb-2">by @Html.DisplayFor(modelItem => item.PublisherName)</h6>
                    <p class="card-text">A @Html.DisplayFor(modelItem => item.CategoryName) game for @Html.DisplayFor(modelItem => item.MinPlayers) to @Html.DisplayFor(modelItem => item.MaxPlayers) players</p>
                    <div class="row">
                        <p class="col"><b>Played?</b> @Html.DisplayFor(modelItem => item.HavePlayed)</p>
                        <p class="col"><b>Rating:</b> @Html.DisplayFor(modelItem => item.Rating)</p>
                    </div>
                    <div class="row justify-content-center">
                        <p class="col">@Html.ActionLink("Edit", "Edit", new { id = item.GameId }, new { @class = "btn btn-warning " })</p>
                        <p class="col-md-auto">@Html.ActionLink("Details", "Details", new { id = item.GameId }, new { @class = "btn btn-primary " })</p>
                        <p class="col">@Html.ActionLink("Delete", "Delete", new { id = item.GameId }, new { @class = "btn btn-danger " })</p>

                    </div>
                </div>
            </div>
        </div>
    }
</div>

<style>
    .cover {
        padding: 25px 0;
        text-align: center;
        margin: auto;
    }

    .cover-header {
        font-size: 48px;
        font-family: 'Frutiger LT Std';
    }

    .subheader {
        font-size: 16px;
        font-family: 'Frutiger LT Std';
        font-weight: bold;
    }
</style>
